/* Navigation Section  */

.navbar {
    backdrop-filter: blur(8px);
}

.navbar .brand {
    font-weight: bold;
    font-family: 'Shojumaru', cursive;
}

.navbar a {
    font-weight: bold;
    font-size: 1.2rem;
    color: #2b2bbd;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

/* Estilos Generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Shojumaru', cursive;
}

/* New Hero Section */

.Hero {
    background-color: bisque;
    min-height: 700px;
    text-align: center;
}

.Hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.Hero-container h1 {
    font-family: 'Shojumaru', cursive;
}

.Hero-container h3 {
    font-weight: bold;
    color: #4d4d4d;
}


.Hero-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* About section */

.About {
    min-height: 450px;
    background-color: #272727;
    color: white;
}

.About-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

/* Projectos section */

.Projectos {
    min-height: 800px;
    background-color: bisque;
}

.Projectos h2 {
    padding: 2rem;
}

.Projectos-container {
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}

.Projectos-container .Projecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    min-height: 500px;
}

.Projectos-container img {
    width: 225px;
    height: 225px;
    padding: 1rem;
}

.Projectos-container h4 {
    font-weight: bold;
}

/* Expirience section */

.Expirience {
    min-height: 800px;
    background-color: #272727;
    color: white;
}

.Expirience h2 {
    padding: 2rem;
}

.Expirience-container {
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Expirience-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Expirience-container .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Expirience-container img {
    padding: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.Expirience-container .LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.Expirience-container .is-visible {
    opacity: 1;
}

/* Responsivo */

@media (max-width: 500px) {
    .Hero-container img {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 2rem;
    }
}