/* Navigation Section  */
.navbar {
    background-color:#d3d1d1 !important;
    border-bottom: 3px solid black;
}

.navbar .brand {
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar a {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
    text-shadow: 2px 2px 6px rgb(238, 238, 238);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 50, 100, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar button {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Estilos Generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Chakra Petch', sans-serif;}

p {
    font-family: 'Chakra Petch', sans-serif;}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;}

/* New Hero Section */

.Hero {
    min-height: 900px;
    text-align: center;
    background-color: #01010e;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #01010e 11px ), repeating-linear-gradient( #393c7355, #393c73 );
}

.Hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.Hero-container h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    color: white;
}

.Hero-container h3 {
    font-weight: bold;
    color: #b6b4b4;
}


.Hero-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* About section */

.About {
    min-height: 900px;
    background-color: #272727;
    color: white;
}

.About-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 2rem;
    font-family: 'Chakra Petch', sans-serif;
}

/* Projectos section */

.Projectos {
    min-height: 900px;
    background-color: #01010e;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #01010e 11px ), repeating-linear-gradient( #393c7355, #393c73 );
}

.Projectos h2 {
    padding: 2rem;
    color: white;
}

.Projectos-container {
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
    padding: 0.5rem;
}

.Projectos-container .Projecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    min-height: 450px;
    padding: 1rem;
    background-color: #110404;
    color: white;
    -webkit-box-shadow: 11px 11px 4px -3px rgba(240,125,240,0.8);
    -moz-box-shadow: 11px 11px 4px -3px rgba(240,125,240,0.8);
    box-shadow: 11px 11px 4px -3px rgba(240,125,240,0.8);
    overflow: hidden;
}

.Projectos-container .Projecto a {
    color: inherit;
    text-decoration: none;
}

.Projectos-container img {
    overflow: hidden;
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.Projectos-container .row {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.Projectos-container h4 {
    font-weight: bold;
}

/* Expirience section */

.Expirience {
    min-height: 800px;
    background-color: #272727;
    color: white;
}

.Expirience h2 {
    padding: 2rem;
}

.Expirience-container {
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Expirience-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.Expirience-container .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Expirience .LazyLoad {
    display: flex;
    justify-content: center;
}

.Expirience-container img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.Expirience-container .LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.Expirience-container .is-visible {
    opacity: 1;
}

/* Footer section */

.Footer {
    background-color: white;
    min-height: 300px;
    padding: 1rem;
}

.Footer h2 {
    font-weight: bold;
}

.Footer h6 {
    font-weight: 900;
}

.Footer-container {
    width: 100%;
    min-height: 200px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Footer-container a {
    color: inherit;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.Footer-container svg:hover {
    transition: all 0.2s ease-in-out;
    width: 50px;
    height: 50px;
}

/* Mas Proyectos */

.more {
    min-height: 1200px;
    text-align: center;
    padding-top: 70px;
    background-color: #01010e;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #01010e 11px ), repeating-linear-gradient( #393c7355, #393c73 );
}

.more h2 {
    padding-bottom: 50px;
    color: white;
}

.more-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-container .card {
    -webkit-box-shadow: 7px 8px 12px -1px rgba(0,0,0,1);
    -moz-box-shadow: 7px 8px 12px -1px rgba(0,0,0,1);
    box-shadow: 7px 8px 12px -1px rgba(0,0,0,1);
    overflow: hidden;
    border: none !important;
    border-radius: 0px !important;
}

.more .card-body {
    background-color: #110404;
}

.more-container .details {
    background-color:#01010e;
    border: none;
    color: white;
    font-weight: 900;
}

.row div {
    margin-bottom: 10px;
}

.container .card-title {
    font-size: 1.5rem;
    color: white;
}

.container .card-text {
    color: white;
    font-size: 0.9rem;
}

.more-container .card {
    overflow: hidden;
}

.more-container .card img {
    height: 180px;
    width: 100%;
    transition: transform .3s;
}

.more-container .card img:hover {
    transform: scale(1.1);
}

/* SINGLE PROJECT */
.single {
    min-height: 1200px;
    text-align: center;
    background-color: #01010e;
    margin: 0;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #01010e 11px ), repeating-linear-gradient( #393c7355, #393c73 );
}

.single h2 {
    margin-top: 4rem;
}

.single .row {
    display: flex;
    justify-content: center;
}

.single .card-body {
    background-color: #01010e;
    color: white;
}

.single .card img {
    height: 250px;
}

.single .card-body  ul {
    list-style-type: none;
}


/* No projects found page */
.no-project {
    min-height: 900px;
    text-align: center;
    background-color: #01010e;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #01010e 11px ), repeating-linear-gradient( #393c7355, #393c73 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}


/* Responsivo */

@media (max-width: 500px) {
    .Hero-container h1 {
        font-size: 3rem;
    }

    .Hero-container img {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 2rem;
    }

    .Footer {
        min-height: 400px;
        justify-content: center;
    }


}